<div class="country-card">
    <h1 class="country-name">{{0.name}}</h1>

    <ul class="country-info">
        <li>Capital: {{0.capital}}</li>
        <li>Population: {{0.population}}</li>
        <li>Languages:
            
        </li>
    </ul>
    <img src="{{0.flag}}" alt="flag of {{0.name}}">
</div>