<div class="country-card">
    <h1 class="country-name"></h1>

    <ul class="country-info">
        <li>Capital:</li>
        <li>Population:</li>
        <li>Languages:
            <ul class="languages-list">
                <li></li>
            </ul>
        </li>
    </ul>
    <img src="" alt="flag of {{}}">
</div>