<div class="country-card">
    <h1 class="country-name">{{name}}</h1>

    <ul class="country-info">
        <li>Capital:{{capital}}</li>
        <li>Population:{{population}}</li>
        <li>Languages:</li>
    </ul>
    <img src="" alt="flag of {{name}}">
</div>